AlgorithmicToolbox/**

!AlgorithmicToolbox/week2_algorithmic_warmup/
!AlgorithmicToolbox/week2_algorithmic_warmup/**
AlgorithmicToolbox/week2_algorithmic_warmup/**

!AlgorithmicToolbox/week2_algorithmic_warmup/src/
!AlgorithmicToolbox/week2_algorithmic_warmup/src/**

!AlgorithmicToolbox/week3_greedy_algorithms/
!AlgorithmicToolbox/week3_greedy_algorithms/**
AlgorithmicToolbox/week3_greedy_algorithms/**

!AlgorithmicToolbox/week3_greedy_algorithms/src/
!AlgorithmicToolbox/week3_greedy_algorithms/src/**

!AlgorithmicToolbox/week4_divide_and_conquer/
!AlgorithmicToolbox/week4_divide_and_conquer/**
AlgorithmicToolbox/week4_divide_and_conquer/**

!AlgorithmicToolbox/week4_divide_and_conquer/src/
!AlgorithmicToolbox/week4_divide_and_conquer/src/**

!AlgorithmicToolbox/week5_dynamic_programming1/
!AlgorithmicToolbox/week5_dynamic_programming1/**
AlgorithmicToolbox/week5_dynamic_programming1/**

!AlgorithmicToolbox/week5_dynamic_programming1/src/
!AlgorithmicToolbox/week5_dynamic_programming1/src/**

!AlgorithmicToolbox/week6_dynamic_programming2/
!AlgorithmicToolbox/week6_dynamic_programming2/**
AlgorithmicToolbox/week6_dynamic_programming2/**

!AlgorithmicToolbox/week6_dynamic_programming2/src/
!AlgorithmicToolbox/week6_dynamic_programming2/src/**

DataStructures/**

!DataStructures/week1_basic_data_structures/
!DataStructures/week1_basic_data_structures/**
DataStructures/week1_basic_data_structures/**

!DataStructures/week1_basic_data_structures/src/
!DataStructures/week1_basic_data_structures/src/**

!DataStructures/week2_priority_queues_and_disjoint_sets/
!DataStructures/week2_priority_queues_and_disjoint_sets/**
DataStructures/week2_priority_queues_and_disjoint_sets/**

!DataStructures/week2_priority_queues_and_disjoint_sets/src/
!DataStructures/week2_priority_queues_and_disjoint_sets/src/**

!DataStructures/week3_hash_tables/
!DataStructures/week3_hash_tables/**
DataStructures/week3_hash_tables/**

!DataStructures/week3_hash_tables/src/
!DataStructures/week3_hash_tables/src/**

!DataStructures/week4_binary_search_trees/
!DataStructures/week4_binary_search_trees/**
DataStructures/week4_binary_search_trees/**

!DataStructures/week4_binary_search_trees/src/
!DataStructures/week4_binary_search_trees/src/**